:root {
    --font-all-color: #63463b;
    --color-theme-main: #853616;
}

html {
    max-width: 100%;
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: auto;
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400; /* peso padrão (regular) */
}

.menu {
    width: 95%;
    margin: auto auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.4em;
    list-style: none;
    margin-top: 24px;
    font-size: 1.6em;
    padding: 0;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .menu {
        font-size: 1.4em;
        gap: 1.5em;
    }
}

@media (max-width: 500px) {
    .menu {
        font-size: 1em;
        gap: 0.7em;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
        flex-grow: 1;
    }
}

.menu a {
    text-decoration: none;
    color: var(--color-theme-main);
    letter-spacing: 1px;
    padding: 2px 2px 6px;
}

.menu a:hover {
    border-bottom: 1px solid var(--color-theme-main);
}

#btn-destaque {
    padding: 0.9em;
    background-color: var(--color-theme-main);
    color: white;
}

#btn-destaque:hover {
    outline: 1px solid var(--color-theme-main);
    background-color: white;
    color: var(--color-theme-main);
    border: none;
}


.cabecalho-principal {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin-bottom: 40px;
}

@media (max-width: 800px) {
    .cabecalho-principal {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .cabecalho-principal {
        flex-grow: 1;
    }
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 450px;
    margin: 60px 50px 1px;
}

@media (max-width: 800px) {
    .logo {
        margin-top: 40px;
    }
}

@media (max-width: 500px) {
    .logo {
        width: 60%;
        margin-top: 10px;
    }
}

.saudacao {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
    color: var(--font-all-color);
    margin-bottom: 0;
}

.slogan {
    font-size: 2.5em;
    width: 80%;
    text-align: center;
    font-style: italic;
}

@media (max-width: 500px) {
    .saudacao {
        font-size: 1.2em;
    }

    .slogan {
        font-size: 1.7em;
        width: 60%;
    }
}

.foto-doutora {
    width: 500px;
    margin-right: 0;
}

@media (max-width: 500px) {
    .foto-doutora {
        width: 60%;
        margin: 30px 0;
    }
}

@media (max-width: 800px) {
    .foto-doutora {
        width: 60%;
        margin: 20px auto 0;
        border: 8px solid var(--color-theme-main);
    }
}

.btn-agendar_sessao {
    margin-top: 1em;
    padding: 1em;
    background-color: var(--color-theme-main);
    color: white;
    font-size: 1.6em;
    text-decoration: none;
}

.btn-agendar_sessao:hover {
    background-color: white;
    outline: 1px solid var(--color-theme-main);
    color: var(--color-theme-main);
}

.btn-whatsapp {
    border-radius: 50%;
    width: 50px;
    position: fixed;
    bottom: 10px; right: 15px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}