:root {
    --font-all-color: #2b1c17;
    --color-theme-main: #853616;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #e5e4e3;
    margin: 0;
    font-size: 62.5%;
    color: var(--color-theme-main);
}

header {
    display: flex;
    height: 25rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-theme-main);
    margin-bottom: 2rem;
}

#autora {
    width: 18rem;
    margin-bottom: 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 3.6rem;
    letter-spacing: -2pt;
    color: white;
}

#apresentacao {
    font-size: 1rem;
    color: white;
}

.ebooks-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    max-width: 50.6rem;
}

.ebook {
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.ebook h2 {
    font-size: 2rem;
    margin: 15px 0 10px;
    letter-spacing: -1pt;
    max-width: 80%;
    hyphens: auto;
    text-align: start;
    margin-left: 1rem;
}

.ebook p {
    font-size: 15px;
    color: #555;
    text-align: start;
    margin-left: 1rem;
}

.ebook a {
    position: absolute;
    top: 15px; right: 15px;
    background: linear-gradient(to right, #853616, #b44e22, #853616);
    color: white;
    text-decoration: none;
    padding: 0.8em 1.7em;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.ebook a:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}